@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --polkadot-pink: #e6007a;
      --polkadot-purple: #552bbf;
      --polkadot-cyan: #00b2ff;
      --polkadot-lime: #d3ff33;
      --polkadot-green: #56f39a;

      --header-height: 3.5rem;

      --background: hsl(0 0% 100%);
      --foreground: hsl(240 10% 3.9%);

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;

      --sh-class: #2d5e9d;
      --sh-identifier: #354150;
      --sh-sign: #8996a3;
      --sh-property: #0550ae;
      --sh-entity: #249a97;
      --sh-jsxliterals: #6266d1;
      --sh-string: #00a99a;
      --sh-keyword: #f47067;
      --sh-comment: #a19595;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

pre code {
  counter-reset: sh-line-number;
}

pre code .sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-right: 24px;
  text-align: right;
  color: #a4a4a4;
}


.bubble {
  position: absolute;
  width: 50%;
  height: 38%;
  background: radial-gradient(circle, var(--color) 0%, transparent 60%);
  filter: blur(80px);
  border-radius: 50%;
  animation: float 25s ease-in-out infinite, rotate 30s linear infinite;
  opacity: 0.8;
  z-index: -1;
  transform-origin: center center; /* This keeps the bubbles centered during rotation */
}

.bubble:nth-child(1) {
  --color: var(--polkadot-pink);
  top: 10%;
  left: 20%;
  animation-duration: 18s, 30s;
  animation-delay: 0s, 0s;
  width: 500px;
  height: 50%;
}

.bubble:nth-child(2) {
  --color: var(--polkadot-purple);
  top: 60%;
  left: 20%;
  animation-duration: 20s, 32s;
  animation-delay: 2s, 2s;
}

.bubble:nth-child(3) {
  --color: var(--polkadot-cyan);
  top: 30%;
  left: 70%;
  animation-duration: 22s, 34s;
  animation-delay: 4s, 4s;
}

.bubble:nth-child(4) {
  --color: var(--polkadot-lime);
  top: 80%;
  left: 50%;
  animation-duration: 26s, 36s;
  animation-delay: 6s, 6s;
}

.bubble:nth-child(5) {
  --color: var(--polkadot-green);
  top: 40%;
  left: 80%;
  animation-duration: 24s, 38s;
  animation-delay: 8s, 8s;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) translateX(0) scale(1);
  }
  25% {
    transform: translateY(-40px) translateX(30px) scale(1.1);
  }
  50% {
    transform: translateY(-60px) translateX(-30px) scale(1);
  }
  75% {
    transform: translateY(40px) translateX(-30px) scale(0.9);
  }
}

@keyframes rotate {
  0%, 100% {
    transform: rotate(0deg) translateX(0) translateY(0);
  }
  25% {
    transform: rotate(90deg) translateX(-100%) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateX(-100%) translateY(-100%);
  }
  75% {
    transform: rotate(270deg) translateX(0) translateY(-100%);
  }
  100% {
    transform: rotate(360deg) translateX(0) translateY(0);
  }
}
